/* Adjust background image for landing page display */
.landing   {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-image: url("http://cdn.pcwallart.com/images/vancouver-wallpaper-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
