/* Adjust background image for landing page display */
.landing   {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-image: url("http://cdn.pcwallart.com/images/vancouver-wallpaper-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wrapper    {
    position: relative;
}

/* Stlying welcome quote element within wrapper div */
.wrapper h2 {
    display: block;
    text-align: center;
    position: fixed;
    color: white;
    background-color: #2F2F2F;
    border: solid black;
    padding: 10px;
    width: 30em;
    margin-left: 30%;
    margin-right: 50%;
    top: 30%;
    background-size: 100%;
    font-style: italic;
    font-family: Times;
}

/* Stylistic elements for button to redirect to homepage */
.wrapper form    {
    display: block;
    text-align: center;
    position: fixed;
    margin-left: 45%;
    top: 50%;
}

.button     {
    z-index: 0;
    background-color: #4CAF50; /* Green */
    border:solid #2F2F2F;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:hover   {
    background-color: #3e8e41;
}

.button:active  {
    background-color: #3e8e41;
    box-shadow: 0 0px #666;
    transform: translateY(1px);
}

/* Side Navigation Bar Used Across All Pages except Landing Page */
.navBar {
  height: 100%; /* utilizing the entire height of the browser */
  width: 0;
  position: fixed; /* Prevent the navBar from moving */
  z-index: 1; /* fix the navBar to the top of the page at all times */
  top: 0;
  left: 0;
  background-color: #000000; /* TODO: Confirm the Navigation Bar Color */
  overflow-x: hidden; /* Prevent the user from being able to scroll*/
  padding-top: 30px; /* TODO: Confirm the Padding at the top of the Navigation bar */
  transition: 0.5s; /* the speed at which the navBar will appear once the user clicks on the icon */
}

/* Format the color for each element within the navBar */
.navBar a {
  padding: 8px 8px 8px 32px; /* TODO: double check the padding on each page */
  text-decoration: none; /* Preventing any decorration of each hyperlink element to a different page */
  font-size: 25px; /* TODO: confirm the size for each element in the navBar */
  color: #FFFFFF; /* TODO: confirm the color of the text along with the navBar */
  display: block;
  transition: 0.3s; /* TODO: confirm the speed and transition*/
  text-align: center;
}

/* When a user hovers over an element in a navBar, change the color */
.navBar a:hover, .offViewPort a:focus{
  color: #2F2F2F; /* TODO: confirm the color */
}


/* Push the elements to the left when opening the navBar */
#main {
  transition: margin-right .5s;
  padding: 20px;
}

/* Responsive navBar to change the size based on the browser size*/
@media screen and (max-height: 450px) {
    .navBar {
      padding-top: 15px;
    }
    .navBar a {
      font-size: 18px;
    }
}
